@using Microsoft.AspNetCore.Identity
@using HotelDaisy.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<Apartment>

@{
	ViewData["Title"] = "Apartments";
}

<div class="container">
    <h1 class="display-4 pb-4 text-center">Check our Apartments</h1>
	@if (User.IsInRole("Admin"))
	{
		<a class="btn btn-primary float-end mb-2" asp-controller="Apartments" asp-action="Create"><i class="bi bi-house-add me-2"></i>Add new Apartment</a>
	}
	<table class="table table-bordered align-middle" style="width:100%">
		@foreach (var obj in Model)
		{
			string imageBase64Data = Convert.ToBase64String(obj.Image);
			string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
			<tr>
				<td rowspan="4">
					<img src="@imageDataURL" style="max-width: 100%; height: auto;">
				</td>
				<th style="width:25%">
					Rooms number
				</th>
				<td style="width:25%">
					@obj.NumberOfRooms
				</td>
			</tr>
			<tr>
				<th>
					Balcony
				</th>
				<td>
					<input type="checkbox" checked="@obj.Balcony" onclick="return false;" />
				</td>
			</tr>
			<tr>
				<th>
					Price
				</th>
				<td>
					@obj.Price
				</td>
			</tr>
			<tr>
				<td colspan="2" style="height:100px">
					<a class="btn btn-primary w-50" asp-controller="Reservation" asp-action="CreateForSelectedApartment" asp-route-Id="@obj.Id"><i class="bi bi-building-check me-2"></i>Book now</a>
					@if (User.IsInRole("Admin"))
					{
						<a class="btn btn-primary w-50 mt-2" asp-controller="Apartments" asp-action="Edit" asp-route-Id="@obj.Id"><i class="bi bi-pencil me-2"></i>Edit</a>
						<a class="btn btn-primary w-50 mt-2" asp-controller="Apartments" asp-action="Delete" asp-route-Id="@obj.Id"><i class="bi bi-trash3 me-2"></i>Delete</a>
					}
				</td>
			</tr>
		}
	</table>
</div>